@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

body {
	color: #333333;
	background: #ffffff;  
	overflow-x: hidden; 
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.italic { font-style: italic; }
.pad-10 { padding-top: 10px; }
.bg-offwhite { background-color: #F5F5F5 !important; }
.small { font-size: x-small; }
.center-div div { -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; }
.col-md-2 { padding-top: 15px; }

.mapwrapper { float: none; }
.mapcolumn { margin-right: 0; }
.frontcolumn { float: none; width: 100%; margin-left: 0; }

.img-responsive { width: 100%; }

.col-lg-5 {
    display: inline-block;
    vertical-align: middle;
    float: none;
    height: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	line-height: 1.1;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small {
	color: #e5e5e5;
}

h1, h2, h3 {
	margin-bottom: 20px;
	font-weight: 300;
}

h4, h5, h6 {
	margin-bottom: 15px;
	font-weight: 400;
}

h1, .h1 { font-size: 44px; }
h2, .h2 { font-size: 37px; }
h3, .h3 { font-size: 27px; }
h4, .h4 { font-size: 23px; }
h5, .h5 { font-size: 18px; }
h6, .h6 { font-size: 16px; }

p {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.6;
	margin: 15px 0;
	color: #515157;
}

.lead {
	margin-bottom: 30px;
	font-size: 20px;
	line-height: 1.4;
	font-weight: 300;
}

small, .small {
	font-size: 80%;
	line-height: 2;
}

em { color: #ff6600; }

a { color: #1abc9c; }

a:hover {
	color: #16a085;
	text-decoration: none;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

ol {
	position: relative;
	padding-left: 22px;
}

ul {
    list-style: none;
	position: relative;
	padding-left: 22px;
}

ul li,
ol li {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #515157;
	margin-bottom: 5px;
}

ul.circle li:before {
    font-family: 'fontawesome';
    content: '\f10c';
    font-size: 12px;
    color: #16a085;
    padding-top: 2px;
	margin-left: -20px;
	position: absolute;
}

.underlined-title {
	text-align: center;
}

.underlined-title h1 {
	color: #2c3e50;
	margin: 0;
}

.underlined-title h2 {
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 700;
	color: #95a5a6;
}

.underlined-title hr {
	width: 10%;
	border-width: 2px;
	border-color: #3498db;
}

button:hover {
	text-decoration: none;
	-moz-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.nav > li > a:hover,
.nav > li > a:focus {
	outline: 0;
}

.content-block {
	width: 100%;
	padding: 30px 0 30px 0;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}

.content-block-nopad {
	width: 100%;
	z-index: 100;
	position: relative;
	background-color: #ffffff;
}

.contact-info {
	padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
	list-style: none;
}

.contact-info span {
	margin-right: 7px;
	color: #3498db;
	padding-right: 5px;
}

.contact-info li {
	display: inline-block;
	margin: 0 10px;
	font-size: 15px;
	font-weight: 700;
	color: #2e2e2e
}

.contact-info li a {
	color: #2e2e2e
}

.contact-info li a:hover {
	color: #3498db
}

.map {
	height: 400px;
	background: #f5f5f5;
}
.content-1-5 h1 {
	color: #3498DB;
}

.content-1-5 img {
	margin: 30px auto 0 auto; 
}

.content-1-7 {
	text-align: center;
}

.content-1-7 .col-md-2 {
	height: 80px;
	line-height: 80px;
}

.content-1-7 img {
	max-width: 140px;
}

.content-1-7 img:hover {
	opacity: 1;
}

.content-3-7 .underlined-title {
	padding-bottom: 0;
}

#promo-3-owl {
    height: 65vh;
}

#hillcrest-1 { background-position: center center; }
#hillcrest-2 { background-position: center center; }
#hillcrest-3 { background-position: center top; }

#marryatville-1 { background-position: center center; }
#marryatville-2 { background-position: center center; }
#marryatville-3 { background-position: center top; }

#promo-3-owl div {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    background-repeat: no-repeat;
    height: 65vh;
}

#promo-3-owl img {
    display: block;
    visibility: hidden;
    width: 100%;
    height: 65vh;
}

#promo-3-owl .item {
    margin: 3px;
}
#promo-3-owl .item img {
    display: block;
    width: 50%;
}

.owl-controls {
    display: table;
    margin: -25px auto;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}

.owl-theme .owl-controls .active span {
    background: none repeat scroll 0 0 #ffffff !important;
    opacity: 0.9 !important;
}

.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #555555;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

#header-2 {
	width: 100%;
	position: relative;
	z-index: 999;
}

#header-2 .brand-img {
	float: none;
	margin: 7px auto;
	text-align: center;
	max-width: 200px;
}

#header-2 .navbar-toggle {
	margin-right: 0;
	margin-top: 0;
	background: none;
	position: absolute;
	right: 20px;
	top: 30px;
	border: none;
}

#header-2 .navbar-toggle:focus {
	outline: none;
}

#header-2 .navbar-toggle .icon-bar {
	background-color: #999;
	height: 3px;
}

#header-2 .navbar-toggle:hover .icon-bar {
	background-color: #3498DB;
}

#header-2 .navbar-fixed-top .navbar-collapse {
	max-height: inherit;
	border-top: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#header-2 .main-nav .nav {
	margin-top: 25px;
}

#header-2 .main-nav .nav .nav-item a {
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 15px;
	color: #666;
	background: none;
}

#header-2 .main-nav .nav .nav-item.active a {
	color: #3498DB;
}

#header-2 .main-nav .nav .nav-item a:hover {
	color: #3498DB;
}

#header-2 .main-nav .nav .nav-item a:focus {
	outline: none;
}

#header-2 .main-nav .nav .dropdown-menu {
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	margin: 0;
	border: none;
	text-transform: none;
	min-width: 180px;
	background: #3E606F;
}

#header-2 .main-nav .nav .dropdown-menu a {
	padding: 8px 20px;
	color: #666;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}

#header-2 .main-nav .nav .dropdown-menu a:hover {
	background: #3498DB;
	color: #fff;
}

#header-2 .main-nav .nav .open > a,
#header-2 .main-nav .nav .open > a:hover,
#header-2 .main-nav .nav .open > a:focus {
	background: none;
}

.headroom {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: all .2s ease-in-out;
}
.headroom--unpinned {top: -83px;}
.headroom--pinned {top: 0;}

.nav-tabs {
	margin: 0 auto;
}

.nav-tabs > li {
	z-index: 2;
	float: none;
	display: inline-block;
}

.nav-tabs > li > a {
	padding: 16px 25px 12px;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	text-transform: uppercase;
	color: #737c85;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none !important;
	border-bottom: 4px solid transparent !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
	background-color: transparent;
	border-bottom: 4px solid #85d6de !important;
}

.nav > li > a:hover,
.nav > li > a:focus {
	outline: 0;
}

.tab-content {
	padding-left: 0;
	padding-right: 0;
	border: none;
}

.tab-pane {
	padding: 25px 0;
}

@media only screen and (min-width : 768px) {
	#header-2 .main-nav .nav .dropdown-menu {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;
		border-radius: 4px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		margin: 0;
		border: none;
		text-transform: none;
		min-width: 180px;
		background: #3E606F;
	}
	
	#header-2 .main-nav .nav .dropdown-menu:before {
		content: "";
		display: block;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #3E606F;
		position: absolute;
		right: 35px;
		top: -10px;
	}
	
	#header-2 .main-nav .nav .dropdown-menu a {
		padding: 8px 20px;
		color: #fff;
		-webkit-opacity: 1;
		-moz-opacity: 1;
		opacity: 1;
	}
	
	#header-2 .main-nav .nav .dropdown-menu a:hover {
		background: #193441;
		color: #fff;
	}
    

}

@media only screen and (min-width : 992px) {
	.content-1-5 img {
		margin: 0; 
	}
    
    .vertical-center {
        position: relative;
        top: 50%;
        transform: translateY(50%);
    }
    
    .mapwrapper { float: left; width: 100%; }
    .mapcolumn { margin-right: 600px; }
    .frontcolumn { float: left; height: 400px; width: 600px; margin-left: -600px; }
}

@media only screen and (min-width : 1200px) {
}
